<h1>Book Rating</h1>

<p> Hi <%= @user.name %></p>

<p>
  The book <strong><%= @book.name %></strong> in your wishlist has been rated <strong><%= @review.rating %> STARS</strong> by <strong><%= @review.user.name %></strong>.
</p>
