<% provide(:title, 'All books') %>
<div class="container">
  <h1>All books</h1>
  <%= paginate @books %>
    <ul class="users">
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </ul>
  <%= paginate @books %>
</div>