@import "bootstrap-sprockets";
@import "bootstrap";

/* ----------------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.gravatar {
  height: 100px;
  width: auto;
}

/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */
header.navbar.navbar-default {
  margin-bottom: 0px;
}

/* ----------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------- */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  h5 {float: left;}
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
}

/* ----------------------------------------------------------- */
/* HOME DEFAULT */
/* ----------------------------------------------------------- */

.main-container {
  padding: 0 0;
}

.mast-head {
  background: url("homepage-masthead.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 295px;
  padding-top: 35px;
}

.signup-form {
  height: 60%;
  width: 20%;
  position: absolute;
  left: 60%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.user-info {
  width: 500px;
  float: left;
}

/* ----------------------------------------------------------- */
/* HEADER DEFAULT */
/* ----------------------------------------------------------- */

.login-form {
  width: 460px;
  float: right;
  .form-upper {
    float: left;
    padding: 15px 10px 0px 0px;
    input {
      height: 25px;
      width: 180px;
    }
    input[type=submit] {
      width: 70px;
      height: 40px;
    }
  }
}

/* ----------------------------------------------------------- */
/* USER INDEX */
/* ----------------------------------------------------------- */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* ----------------------------------------------------------- */
/* BOOKS */
/* ----------------------------------------------------------- */

.book_cover {
  max-width: 100px;
  height: auto;
  background-color: grey;
}

.book-div {
  padding-top: 40px
}

.book-desc {
  padding-top: 150px;
}
