<footer class="footer">
  <div class="container">
    <h5>Goodread website by Thaneesh Shanand</h5>
    <nav class="navbar navbar-right">
      <ol class="nav navbar-nav">
        <li><%= link_to 'About us', root_path %></li>
        <li><%= link_to 'Contact', root_path %></li>
      </ol>
    </nav>
  </div>
</footer>